<div class="center jumbotron">
  <h1>Workout Record Sharingへようこそ</h1>

  <h2>
    このサイトでは自分のトレーニングを記録しながら、他の人と共有したり、他の人の記録を自由に見たり、いいね！を押して交流することができるサイトです！<br>
    モチベーションアップや新しい筋友を探している方はぜひ一度試してみてください！
  </h2>

  <%= link_to "会員登録はこちらから！", signup_path, class: "btn btn-lg btn-primary" %>
</div>
