<p><%= @user.name %>様</p>

<p>
  こちらはパスワード再設定用のメールとなります。<br>
  お手数ですが、下記のリンクをクリックし、新しいパスワードを設定してください。
</p>

<%= link_to( "パスワード再設定", edit_password_reset_url(@user.reset_token, email: @user.email)) %>

<p>このメールに心当たりがない場合は、<%= link_to "こちらまで", contact_url %> お問い合わせください。</p>

<%= link_to "Workout record sharing App", root_url %>